<div class="card-div">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>My Wifey</md-card-title>
      <md-card-subtitle>On the real</md-card-subtitle>
    </md-card-header>
    <img md-card-image src={{imageUrl}}>
    <md-card-content>
      <p>
        Drop dead legs
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>